.post {
  border-bottom: 2px solid #eaeaea;
  padding: 10px;
  width: 80%;
  margin: 20px auto
}
.post a h1 {
  font-family: 'Courier New', Courier, monospace;
  text-transform: capitalize;
  color: #555
}
.post .post-content {
  line-height: 1.8
}
.loading {
  text-align: center
}

.full-post { 
  text-align: center;
  width: 80%;
  margin: auto;
  line-height: 2
}